/*RESET*/
html, header, body, ul, a, img{
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}
nav, ul{
    list-style: none;
}
a{
    text-decoration: none;
    opacity: 0.8;
    cursor: pointer;
}
a:hover{
    opacity: 1;
}

/*HEADER*/
header{
    width: 100%;
    position: fixed;
    opacity: 0.9;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #fff;
    z-index: 999;
}
header img{
    width: 200px;
}
header ul{
    display: flex;
}
header li a{
    font-weight: bold;
    color: #191c03;
}
header li a:hover {
    color: #a0a230;
}
header li{
    margin: 0 15px;
}
header li:first-child{
    margin-left: 0;
}
header li:last-child{
    margin-right: 0;
}

@media (max-width: 700px){
    header{
        flex-direction: column;
    }
    header img{
        margin-bottom: 15px;
    }
}

/*HERO*/
.hero{
    background-image: url(../img/hero.jpg);
    background-size: cover;
    min-height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.hero h1{
    font-size: 3.2rem;
    margin: 0;
    padding: 0;
}
.hero h2{
    font-size: 2rem;
    margin: 0;
    padding: 0;
}
.hero h3 {
    font-size: 16pt;
    font-weight: bolder;
}
.hero .btn{
    background-color: #fff;
    border-radius: 4px;
    color: #191c03;
    padding: 20px 50px;
    text-transform: uppercase;
    margin-top: 100px;
}
/* link para whatsapp */
.whatsapp-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}
.whatsapp-icon img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.whatsapp-icon img:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}
  
@media (max-width: 700px){
    .hero h1{
        font-size: 2.5rem;
    }
    .hero h2{
        font-size: 1.5rem;
    }
}


/*CONHEÇA OS SERVIÇOS*/
section.conheca-o-servico{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 50px;
}
section.conheca-o-servico h3{
    font-size: 2rem;
    margin-bottom: 35px;
    color: #191c03;
    text-align: center;
}
section.conheca-o-servico p{
    max-width: 800px;
    margin-bottom: 35px;
    color: #191c03;
    text-align: center;
}
section.conheca-o-servico hr{
    width: 200px;
    height: 2px;
    background-color: #191c03;
    margin-bottom: 70px;
    border: none;
}
section.conheca-o-servico .grid{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
section.conheca-o-servico .grid li{
    height: 350px;
    padding: 20px;
    border-radius: 4px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
}
section.conheca-o-servico .grid li.small {
    flex-basis: 30%;
}
section.conheca-o-servico .grid li.large {
    flex-basis: 60%;
}
@media (max-width: 700px){
    section.conheca-o-servico .grid li.small, section.conheca-o-servico .grid li.large{
        flex-basis: 100%;
    }
}


/* DESTAQUES */
section.destaques{
    background-color: #191c03;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 50px;
}
section.destaques h3{
    font-size: 2rem;
    margin-bottom: 35px;
    color: #fff;
    text-align: center;
}
section.destaques p{
    max-width: 800px;
    margin-bottom: 35px;
    color: #fff;
    text-align: center;
}
section.destaques hr{
    width: 200px;
    height: 2px;
    background-color: #fff;
    margin-bottom: 70px;
    border: none;
}
section.destaques .grid{
    width: 100%;
    display: flex;
}
section.destaques .grid li{
    padding: 0 30px;
    text-align: center;
}
section.destaques .grid li h4{
    font-size: 1.5rem;
    color: #c3c63b;
    margin-bottom: 30px;
}
section.destaques .grid li p{
    color: #fff;
}
@media (max-width: 850px){
    section.destaques .grid{
        flex-direction: column;
    }
}


.reservas-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 50px;
}
div.reservas-text h3{
    font-size: 2rem;
    margin-bottom: 35px;
    color: #c3c63b;
    text-align: center;
}
div.reservas-text p{
    max-width: 700px;
    margin-bottom: 35px;
    color: #a0a230;
    text-align: center;
}
div.reservas-text hr{
    width: 200px;
    height: 2px;
    background-color: #c3c63b;
    margin-bottom: 10px;
    border: none;
}
div.reservas-text form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    max-width: 700px;
}

@media (max-width: 700px){
    div.reservas-text input{
        flex-basis: 100%;
        margin-bottom: 15px;
    }
}


/* FOOTER */
footer{
    display: flex;
    flex-direction: column;
    background-color: #191c03;
    padding: 50px 0;
    align-items: center;
}
footer ul{
    display: flex;
    margin-bottom: 25px;
}
footer ul li{
    margin-right: 10px;
}
footer ul li:last-child{
    margin-right: 0;
}
footer ul li a{
    color: #c3c63b;
    font-size: 1rem;
}
footer p{
    color: #c3c63b;
    text-align: center;
}
footer .creditos {
    margin: 2px;
}
footer .creditos a {
    padding: 2px;
    color: white;
}